@font-face { font-family: Roboto; src: url('res/Roboto/Roboto-Light.ttf'); font-weight: 100;}
@font-face { font-family: Roboto; src: url('res/Roboto/Roboto-Regular.ttf'); font-weight: normal;}
@font-face { font-family: Roboto; src: url('res/Roboto/Roboto-Bold.ttf'); font-weight: bold;}
@font-face { font-family: Roboto; src: url('res/Roboto/Roboto-Black.ttf'); font-weight: bolder;}
@font-face { font-family: Roboto; src: url('res/Roboto/Roboto-LightItalic.ttf'); font-style: italic; font-weight: 100;}
@font-face { font-family: Roboto; src: url('res/Roboto/Roboto-Italic.ttf'); font-style: italic; font-weight: normal;}
@font-face { font-family: Roboto; src: url('res/Roboto/Roboto-BoldItalic.ttf'); font-style: italic; font-weight: bold;}
@font-face { font-family: Roboto; src: url('res/Roboto/Roboto-BlackItalic.ttf'); font-style: italic; font-weight: bolder;}

body {
	background-color: #111111;
	color: #e5e4f0;
	font-family: Roboto;
}

h1 {
	text-align: center;
	font-size: 42px;
}

h2 {
	text-align: center;
	font-size: 69px;
}

.thisonly {
	font-family: Roboto;
	font-size: 42px;
	text-align: center;
	vertical-align: middle;
}

label {
    margin-bottom: 20px;
}

input {
	margin-bottom: 20px;
	width: 80%;
	font-size: 32px;
	padding: 10px 10px;
}

.inputprompt {
	font-family: Roboto;
	color: #e5e4f0;
	text-align: center;
	font-size:25px;
	
	margin: 5%;

	/*outline: 2px solid #555555;*/
}

.button {
	background-color: #fce200;
	
	font-family: Roboto;
	text-align: center;
	font-size: 25px;
	padding: 10px 10px;
	color: #111111;
	width: 80%;

	outline-style:none;
	border:none;
	cursor:pointer;

	/* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */

	/* 
	Prevent double-tapping on button from zooming page on mobile
	https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
	*/
	touch-action: manipulation; 
}

.button:hover {
  background-color: #fff64d;
}
.button:active {
  background-color: #fcc100;
}